
@{
    ViewData["Title"] = "SubmitOrder";
}

<h1>SubmitOrder</h1>
<form asp-action="ThankYou">
<div class="form-group">
    <input asp-action="ThankYou" type="submit" value="Submit Order" class="btn btn-primary" />
</div>
</form>