@model IEnumerable<WebApplication.BLogic.Library.Product>

@*@{
    ViewData["Title"] = "Home Page";
}*@

<div class="text-center">
    <h1 draggable="true">Welcome to Azeroth!</h1>
    <p></p>
    
</div>